{% extends "default.j2" %}
{% block title %}App dashboard{% endblock %}
{% block content %}
  {% if picture %}
    <img class="avatar" src="{{ picture }}" />
  {% endif %}
  Your user id is: {{ uid }}
  {% if confirmed %}
    (CONFIRMED)
  {% else %}
    (UNCONFIRMED <a id="resend-confirm" href="/resend-confirm">re-send confirmation email</a>)
  {% endif %}
  <br /><br />
  Connected authentication providers:
  {% for p in providers %}
    <div>
      <img class="social" src="/static/icons/{{ p.provider }}.png" /> {{ p.name }}
      [ <a id="delete-provider-{{ p.provider }}" href="/delete-provider?provider={{ p.provider }}&sub={{ p.sub }}">Remove</a> ]
    </div>
  {% endfor %}
  <br />
  E-Mail: {{ email }}
  {% if email %}
    <a id="set-email" href="/set-email">Change email</a>
    <a id="set-password" href="/set-password">Change password</a>
  {% else %}
    <a href="/set-email">Set email</a>
  {% endif %}
  <br />
  Connect more providers:
  <div>
    <a id="connect-google" href="/oauth-login/google"><img class="social" src="/static/icons/google.png"></a>
    <a id="connect-facebook" href="/oauth-login/facebook"><img class="social" src="/static/icons/facebook.png"></a>
    <a id="connect-github" href="/oauth-login/github"><img class="social" src="/static/icons/github.png"></a>
  </div>
  <br />
  <input type="button" id="delete-account" value="DELETE MY ACCOUNT" onclick="document.location='/delete-account'" />
{% endblock %}
