<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
img.social {
  width: 32px; height: 32px;
}
img.avatar {
  width: 64px; height: 64px; margin-top: 20px;
}
      body {
        font-size: 18px;
        font-family: Verdana, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="menu">
      [
      <a href="/">Home</a>
      {% if authenticated %}
        | <a href="/dashboard">Dashboard</a>
        | <a id="logout" href="/auth/logout">Logout</a>
      {% endif %}
      ]
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
