{% extends "default.j2" %}
{% block title %}Set new password{% endblock %}
{% block content %}
  <div>
    <div id="error" style="color: red"></div>
    <form action="/set-password" name="f1" method="POST" onsubmit="event.preventDefault(); validate()">
      {% if not confirmed_session %}
      Old password (if set) <input id="oldpass" type="password" name="oldpass" /><br />
      {% endif %}
      Password <input type="password" id="password" name="password" /><br />
      Confirm password <input type="password" id="password2" name="password2" /><br />
      <input type="submit" id="submit_change" value="Change" />
    </form>
  </div>
  <script>
    document.getElementById("password").focus();
    function validate() {
      let err = '';
      if (document.getElementById('password').value != document.getElementById('password2').value) {
        err = 'passwords do not match'
      }
      if (!err) {
        document.forms["f1"].submit();
        return true;
      } else {
        document.getElementById('error').innerHTML = err;
        return false;
      }
    }
  </script>
{% endblock %}
